.hero {
  position: relative;
  background: #000;
  color: #fff;
  text-align: center;
}

.heroImage {
  height: 61.8vh;
  max-height: 80vw;
}

.heroDetails {
  position: absolute;
  background: rgba(0, 0, 0, .7);
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 0);
  font-size: calc(0.5em + 1vw);
  padding: 0 0.5em;
}

.heroHeadline {
  margin: 0;
}

.heroTitle {
  margin: 0;
  font-size: 1.125em;
  font-weight: bold;
}
