.hero {
  position: relative;
  background: #000;
  color: #fff;
  text-align: center;
  height: 30em;
}

.heroImage {
  height: 100%;
  width: auto;
  margin: 0 auto;
}

.heroDetails {
  position: absolute;
  background: rgba(0, 0, 0, .7);
  top: 60%;
  left: 50%;
  transform: translate(-50%, 0);
}

.heroHeadline {
  margin: 0;
}

.heroTitle {
  margin: 0;
  font-size: 1.125em;
  font-weight: bold;
}

.overlay {
  position: absolute;
  z-index: 3;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: opacity 0.2s;
  background: red;
  opacity: 0;
}

.active {
  opacity: 0.5;
}
