.overlay {
  pointer-events: none;
  position: absolute;
  z-index: 3;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: opacity 0.2s;
  background: #14D997;
  opacity: 0;
}

.expand {
  top: -10px;
  bottom: -10px;
  left: -10px;
  right: -10px;
}

.active {
  opacity: 0.3;
}
